main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
#timer {
  font-size: large;
  font-weight: bold;
}
.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.board-column {
  border: 3px solid #d3d6da;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}
